.referral-container {
  margin: 0px 56px;
}
.banner {
  width: 100%;
  text-align: center;
}

.banner-image {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}

.subtitle {
  font-size: 16px;
  color: #555;
}

.how-it-image-img {
  width: 100%;
}

.ref-content {
  text-align: center;
  margin: 53px 0px;
}

.steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.step {
  text-align: center;
  flex: 1;
  min-width: 100px;
}

.step img {
  width: 40px;
  height: 40px;
}

.coupon-section {
  margin: 20px 0;
}

.coupon {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  padding: 10px;
  border-bottom: 1px solid #cacaca;
  margin: 10px 0;
}

.coupon-code {
  font-weight: bold;
}

.coupon-copy {
  color: #007bff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 24px;
}

.copy-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.coupon-details {
  display: flex;
  align-items: center;
}
.coupon-details span {
  position: absolute;
  right: 71px;
  text-align: center;
}
.refer-container {
  text-align: center;
  margin: 68px 0px;
}
.refer-btn {
  background: #7ec1b1;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 40%;
}

.refer-btn:hover {
  background: #218838;
}

/* Responsive */
@media (max-width: 600px) {
  .steps {
    flex-direction: column;
  }

  .coupon {
    flex-direction: column;
    text-align: center;
  }
}
